.column1{

  width: 300px;
  float: left;
  background-color: blue;
}

.column2{

  width: 300px;
  float: left;
  background-color: orange;
}

.column3{

  width: 300px;
  float: left;
  background-color: red;
}


img{

  height: 300px;
  width: 300px;
  border: 40px solid green;
  margin: 12px;

}

body{
  text-align: center;
}
